.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}

.theme-light {
  background: rgba(0, 0, 0, 0.5);
}

.theme-light {
  background: transparent;
}

.modal-main {
  position: absolute;
  border-radius: 10px;
  padding: 1em;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-weight: 600;
}

.theme-light .modal-main {
  background: rgba(0, 0, 0, 0.9);
}
