.send-account-select {
  border: none;
  width: 397px;
  height: 60px;

  text-align: right;
  vertical-align: middle;
}

.send-transfer-modal {
  height: 231px;
  width: 397px;
}

.send-content-box {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
  position: relative;
}

.send-balance-info {
  margin: 19px auto 34px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 500;
}

.send-msg-v1 {
  margin: 17px auto 10px;
  line-height: 9px;
}

.send-msg-v2 {
  line-height: 13px;
  margin: 16px auto 7px;
}

.send-button-box {
  margin-top: 40px;
}

.send-reminder {
  display: inline-block;
  margin-left: 10px;
  line-height: 10px;
}

.send-close-box {
  box-sizing: border-box;
  width: 100%;
  padding: 11px 0;
  height: 38px;
  overflow: hidden;
}

.send-close-icon {
  position: absolute;
  top: 11px;
  right: 16px;
  display: block;
  width: 17px;
  height: 17px;
  float: right;
  background: url(../../images/close_slices/close@2x.png) no-repeat;
  cursor: pointer;
}

.send-poundage-box {
  position: relative;
}

.send-poundage-input {
  color: #bbb;
  font-weight: 600;
}

.send-poundage-changer {
  height: 22px;
  width: 15px;
  top: 7px;
  right: 13px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.send-poundage-add {
  border-width: 0 6px 8px 6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #fff;
}

.send-poundage-add:active {
  position: relative;
  top: -2px;
  border-width: 0 8px 10px 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
}

.send-poundage-add:hover {
  cursor: pointer;
}

.send-poundage-sub {
  border-width: 8px 6px 0 6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
}

.send-poundage-sub:active {
  position: relative;
  bottom: -2px;
  border-width: 10px 8px 0 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
}

.send-poundage-sub:hover {
  cursor: pointer;
}

.send-poundage-disabled {
  border-top: 8px solid #999 !important;
}

.send-poundage-disabled:hover {
  cursor: not-allowed !important;
}

.send-poundage-disabled:active {
  border-width: 8px 6px 0 6px !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 8px solid #999 !important;
}
