.dappsend-content-box {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 0 20px;
}

.dappsend-txinfo {
  height: 134px;
}

.dapp-cover {
  position: absolute;
  width: 100%;
  height: 70px;
  background: transparent;
  top: 0;
}

.dapp-info-name .g-input-v1 {
  border: none;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
.dapp-info-msg {
  color: #c8c8c8;
  font-weight: 600;
}

.dapp-info-amount {
  width: 120px;
  float: left;
}

.dapp-info-amount .g-input-v1 {
  width: 120px;
  border: none;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.dapp-info-betNumber {
  width: 164px;
  float: right;
}

.dapp-info-betNumber .g-input-v1 {
  width: 164px;
  border: none;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.dapp-button-box {
  margin-top: 50px;
}
