.import-account-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.import-account-modal {
  position: absolute;
  top: 102px;
  left: 47px;
  width: 266px;
  height: 240px;
  border-radius: 10px;
  background: #fff;
  z-index: 10;
  outline: none;
  user-select: none;
}

.import-account-modal > .import-account-close {
  position: absolute;
  top: 0;
  right: 9px;
  color: #9d9d9d;
  font-size: 38px;
  cursor: pointer;
  z-index: 11;
}

.import-account-modal > .import-account-title-row {
  position: absolute;
  top: 20px;
  height: 28px;
  width: 100%;
  text-align: center;
  line-height: 28px;
  box-sizing: border-box;
}

.import-account-modal > .import-account-title-row > .import-account-name {
  color: #0e050a;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.import-account-modal > .import-account-modal-psw-block {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50px;
}

.import-account-modal > .import-account-modal-psw-block > .import-account-modal-psw-label {
  color: #838899;
  font-size: 10px;
}

.import-account-modal > .import-account-modal-psw-block > .import-account-modal-psw-input {
  box-sizing: border-box;
  width: 240px;
  height: 34px;
  background: rgba(242, 243, 247, 0.8);
  border-radius: 4px;
  border: none;
  outline: none;
  line-height: 34px;
  padding: 0 10px;
  font-size: 12px;
  color: #0a174c;
}

.import-account-modal > .import-account-modal-psw-block > .import-account-modal-priv-show {
  box-sizing: border-box;
  width: 240px;
  height: 70px;
  background: rgba(242, 243, 247, 0.8);
  border-radius: 4px;
  border: none;
  outline: none;
  line-height: 34px;
  padding: 8px 15px;
  font-size: 12px;
  color: #0a174c;
  word-break: break-all;
  line-height: 18px;
  resize: none;
}

.import-account-modal > .import-account-modal-box {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 28px;
  border-top: 1px solid #b8b9c9;
  border-radius: 0 0 10px 10px;
}

.import-account-modal > .import-account-modal-box > .import-account-btn-prv {
  width: 210px;
  height: 38px;
  background: rgba(184, 185, 201, 1);
  border-radius: 19px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
